In [21]:
import pandas as pd

In [22]:
data_file = "Resources/cities.csv"
data_file_df = pd.read_csv(data_file)

In [23]:
data_file_df['Date'] = pd.to_datetime(data_file_df['Date'], unit='s').dt.strftime('%Y-%m-%d')

data_file_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,2018-06-13,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,2018-06-13,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,2018-06-13,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,2018-06-13,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,2018-06-13,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...,...
542,542,scalea,36,IT,2018-06-13,100,39.82,15.79,70.06,5.30
543,543,san andres,68,PH,2018-06-13,100,13.32,122.68,83.47,22.64
544,544,muisne,92,EC,2018-06-13,84,0.61,-80.02,76.90,4.63
545,545,ati,20,TD,2018-06-13,25,13.21,18.34,104.53,4.97
546,546,san luis,0,AR,2018-06-13,53,-33.30,-66.34,42.43,2.62

In [24]:
html = data_file_df.to_html('table.html',header=True,index=False)

html